*{
    background: #F3F5FC;
    font-family: 'Inter';
}

.logo{ 
   width: 100px;
   margin-top: 30px;    
}

main{
    display: inline-flex;
    margin: 25px 25px;
}

.text-area{
    width: 350px;
    padding: 10px 10px;
    border: none;
    color: #0a3871;
    text-transform: lowercase;
}

::placeholder{ color: #0a3871; }
    .text-area:focus {
        outline: none;
    }

.text-area:hover{
    border: 1px solid #0a3871;
    border-radius: 24px;
    transform: scale(1.05);
}
    
.mensaje{
    width: 350px;
    padding: 10px 10px;
    margin-left: 50px;
    background: white;
    background-image: url(imagenes/Muñeco.png);
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    border-radius: 24px;
    color: #0a3871;
}
    
.mensaje:focus{
    outline: none;
}

.textos-mensaje{
    width: 336px;
    margin-left: 65px;
    transform: translateY(-300px);
    background: none;
    font-family: 'Inter';
    font-style: normal;
    text-align: center;
}

.textos-mensaje h1{
    font-weight: 700;
    font-size: 24px;
    line-height: 25px;
    background: none;
    margin-bottom: 10px;
}

.textos-mensaje h2{
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    background: none;
}

.vector img{
    width: 20px;
    float: left;
    margin-right: 5px;
}

.vector h3{
    color: #495057;
    font-size: 18px;
    margin: 195px 0 37px 0;
    
}

.botones{
    display: inline-flex;
}

.btn-encriptar{
    background-color: #0a3871;
    border: 2px solid #0a3871;
    border-radius: 24px;
    color: white;
    cursor: pointer;
    height: 67px;
    width: 328px;
    transition: 1s all;
    font-size: 26px;
}

.btn-desencriptar{
    background-color: #D8DFE8;
    border: 1px solid #0a3871;
    border-radius: 24px;
    color: #0a3871;
    cursor: pointer;
    height: 67px;
    margin-left: 12px;
    width: 328px;
    transition: 1s all;
    font-size: 26px;
}

.btn-copiar{
    background-color: #D8DFE8;
    border: 1px solid #0a3871;
    border-radius: 24px;
    color: #0a3871;
    cursor: pointer;
    height: 67px;
    margin: 90px 0 0 70px;
    width: 328px;
    transition: 1s all;
    font-size: 26px;
}

.btn-encriptar:hover{
    transform: scale(1.05);
    border-color: orange;
}

.btn-desencriptar:hover{
    transform: scale(1.05);
    border-color: orange;
}

.btn-copiar:hover{
    transform: scale(1.05);
    border-color: orange;
}

.btn-encriptar:active{
    border-color: green;
}

.btn-desencriptar:active{
    border-color: green;
}

.btn-copiar:active{
    transition: 0s all;
    border-color: green;
}

@media screen and (max-width:480px) {

    .logo{
        width: 20%;
    }

    main{
        width: auto;
        display: inline;
        margin-top: 50px;
    }

    .text-area{
        width: 85%;
        margin-left: 20px;
    }

    .vector{
        margin: 0 10px;
    }

    .mensaje{
        width: 85%;
        margin: 10px 0 10px 20px;
    }

    .textos-mensaje{
        transform: translate(-15px, -225px);
    }

    .botones {
        width: 95%;
        margin: 10px 0 20px 10px; 
    }

    .btn-encriptar, .btn-desencriptar{
        font-size: small;
    }

    .btn-copiar{
        font-size: small;
        width: 95%;
        margin: 10px 0 0 10px;
    }
}
